<a href="https://colab.research.google.com/github/flaakira/Alura/blob/master/Introducao_a_Recomendacao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importacao de dados

In [0]:
import pandas as pd

In [0]:
filmes = pd.read_csv('movies.csv')

In [3]:
filmes.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [0]:
renomear = {"movieId"	: "filmeId",
            "title" : "titulo",
            "genres" : "genero"}

In [0]:
filmes = filmes.rename(columns = renomear)

In [0]:
filmes = filmes.set_index("filmeId")

In [7]:
notas = pd.read_csv('ratings.csv')
notas.head(3)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224

In [0]:
renomear = {"userId" : "usuarioId",	
            "movieId"	: "filmeId",
            "rating" : "nota",
            "timestamp" : "momento"}

In [0]:
notas = notas.rename(columns= renomear)

In [10]:
notas.describe()

           usuarioId        filmeId           nota       momento
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

# Primeira tentativa de Recomendacao

In [11]:
total_de_votos = notas['filmeId'].value_counts()
total_de_votos

356       329
318       317
296       307
593       279
2571      278
         ...
5986        1
100304      1
34800       1
83976       1
8196        1
Name: filmeId, Length: 9724, dtype: int64

In [12]:
filmes['total_de_votos'] = total_de_votos
filmes.head()

                                     titulo  ... total_de_votos
filmeId                                      ...
1                          Toy Story (1995)  ...          215.0
2                            Jumanji (1995)  ...          110.0
3                   Grumpier Old Men (1995)  ...           52.0
4                  Waiting to Exhale (1995)  ...            7.0
5        Father of the Bride Part II (1995)  ...           49.0

[5 rows x 3 columns]

In [13]:
filmes.sort_values('total_de_votos', ascending=False)

                                     titulo  ... total_de_votos
filmeId                                      ...
356                     Forrest Gump (1994)  ...          329.0
318        Shawshank Redemption, The (1994)  ...          317.0
296                     Pulp Fiction (1994)  ...          307.0
593        Silence of the Lambs, The (1991)  ...          279.0
2571                     Matrix, The (1999)  ...          278.0
...                                     ...  ...            ...
30892    In the Realms of the Unreal (2004)  ...            NaN
32160              Twentieth Century (1934)  ...            NaN
32371             Call Northside 777 (1948)  ...            NaN
34482          Browning Version, The (1951)  ...            NaN
85565                    Chalet Girl (2011)  ...            NaN

[9742 rows x 3 columns]

In [14]:
notas_medias = notas.groupby('filmeId').mean()["nota"]
notas_medias.head()

filmeId
1    3.920930
2    3.431818
3    3.259615
4    2.357143
5    3.071429
Name: nota, dtype: float64

In [0]:
 filmes['notas_medias'] = notas_medias

In [16]:
filmes.head()

                                     titulo  ... notas_medias
filmeId                                      ...
1                          Toy Story (1995)  ...     3.920930
2                            Jumanji (1995)  ...     3.431818
3                   Grumpier Old Men (1995)  ...     3.259615
4                  Waiting to Exhale (1995)  ...     2.357143
5        Father of the Bride Part II (1995)  ...     3.071429

[5 rows x 4 columns]

In [17]:
filmes.sort_values('total_de_votos', ascending=False).head(10)

                                            titulo  ... notas_medias
filmeId                                             ...
356                            Forrest Gump (1994)  ...     4.164134
318               Shawshank Redemption, The (1994)  ...     4.429022
296                            Pulp Fiction (1994)  ...     4.197068
593               Silence of the Lambs, The (1991)  ...     4.161290
2571                            Matrix, The (1999)  ...     4.192446
260      Star Wars: Episode IV - A New Hope (1977)  ...     4.231076
480                           Jurassic Park (1993)  ...     3.750000
110                              Braveheart (1995)  ...     4.031646
589              Terminator 2: Judgment Day (1991)  ...     3.970982
527                        Schindler's List (1993)  ...     4.225000

[10 rows x 4 columns]

# Segunda analise de recomendacao

In [18]:
filmes.sort_values('notas_medias', ascending=False).head(10)

                                            titulo  ... notas_medias
filmeId                                             ...
88448        Paper Birds (Pájaros de papel) (2010)  ...          5.0
100556                  Act of Killing, The (2012)  ...          5.0
143031                             Jump In! (2007)  ...          5.0
143511                                Human (2015)  ...          5.0
143559                         L.A. Slasher (2015)  ...          5.0
6201                              Lady Jane (1986)  ...          5.0
102217              Bill Hicks: Revelations (1993)  ...          5.0
102084                Justice League: Doom (2012)   ...          5.0
6192     Open Hearts (Elsker dig for evigt) (2002)  ...          5.0
145994                      Formula of Love (1984)  ...          5.0

[10 rows x 4 columns]

In [0]:
filmes.query("total_de_votos >= 50").sort_values('notas_medias', ascending=False).head(10)
filmes_com_mais_de_50_votos = filmes.query("total_de_votos >= 50")