<a href="https://colab.research.google.com/github/flaakira/Alura/blob/master/Introducao_a_Recomendacao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importacao de dados

In [0]:
import pandas as pd

In [0]:
filmes = pd.read_csv('movies.csv')

In [39]:
filmes.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [0]:
renomear = {"movieId"	: "filmeId",
            "title" : "titulo",
            "genres" : "genero"}

In [0]:
filmes = filmes.rename(columns = renomear)

In [0]:
filmes = filmes.set_index("filmeId")

In [43]:
notas = pd.read_csv('ratings.csv')
notas.head(3)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224

In [0]:
renomear = {"userId" : "usuarioId",	
            "movieId"	: "filmeId",
            "rating" : "nota",
            "timestamp" : "momento"}

In [0]:
notas = notas.rename(columns= renomear)

In [46]:
notas.describe()

           usuarioId        filmeId           nota       momento
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

# Primeira tentativa de Recomendacao

In [47]:
total_de_votos = notas['filmeId'].value_counts()
total_de_votos

356       329
318       317
296       307
593       279
2571      278
         ...
5986        1
100304      1
34800       1
83976       1
8196        1
Name: filmeId, Length: 9724, dtype: int64

In [48]:
filmes['total_de_votos'] = total_de_votos
filmes.head()

                                     titulo  ... total_de_votos
filmeId                                      ...
1                          Toy Story (1995)  ...          215.0
2                            Jumanji (1995)  ...          110.0
3                   Grumpier Old Men (1995)  ...           52.0
4                  Waiting to Exhale (1995)  ...            7.0
5        Father of the Bride Part II (1995)  ...           49.0

[5 rows x 3 columns]

In [49]:
filmes.sort_values('total_de_votos', ascending=False)

                                     titulo  ... total_de_votos
filmeId                                      ...
356                     Forrest Gump (1994)  ...          329.0
318        Shawshank Redemption, The (1994)  ...          317.0
296                     Pulp Fiction (1994)  ...          307.0
593        Silence of the Lambs, The (1991)  ...          279.0
2571                     Matrix, The (1999)  ...          278.0
...                                     ...  ...            ...
30892    In the Realms of the Unreal (2004)  ...            NaN
32160              Twentieth Century (1934)  ...            NaN
32371             Call Northside 777 (1948)  ...            NaN
34482          Browning Version, The (1951)  ...            NaN
85565                    Chalet Girl (2011)  ...            NaN

[9742 rows x 3 columns]

In [50]:
notas_medias = notas.groupby('filmeId').mean()["nota"]
notas_medias.head()

filmeId
1    3.920930
2    3.431818
3    3.259615
4    2.357143
5    3.071429
Name: nota, dtype: float64

In [0]:
 filmes['notas_medias'] = notas_medias

In [52]:
filmes.head()

                                     titulo  ... notas_medias
filmeId                                      ...
1                          Toy Story (1995)  ...     3.920930
2                            Jumanji (1995)  ...     3.431818
3                   Grumpier Old Men (1995)  ...     3.259615
4                  Waiting to Exhale (1995)  ...     2.357143
5        Father of the Bride Part II (1995)  ...     3.071429

[5 rows x 4 columns]

In [53]:
filmes.sort_values('total_de_votos', ascending=False).head(10)

                                            titulo  ... notas_medias
filmeId                                             ...
356                            Forrest Gump (1994)  ...     4.164134
318               Shawshank Redemption, The (1994)  ...     4.429022
296                            Pulp Fiction (1994)  ...     4.197068
593               Silence of the Lambs, The (1991)  ...     4.161290
2571                            Matrix, The (1999)  ...     4.192446
260      Star Wars: Episode IV - A New Hope (1977)  ...     4.231076
480                           Jurassic Park (1993)  ...     3.750000
110                              Braveheart (1995)  ...     4.031646
589              Terminator 2: Judgment Day (1991)  ...     3.970982
527                        Schindler's List (1993)  ...     4.225000

[10 rows x 4 columns]

# Segunda analise de recomendacao

In [54]:
filmes.sort_values('notas_medias', ascending=False).head(10)

                                            titulo  ... notas_medias
filmeId                                             ...
88448        Paper Birds (Pájaros de papel) (2010)  ...          5.0
100556                  Act of Killing, The (2012)  ...          5.0
143031                             Jump In! (2007)  ...          5.0
143511                                Human (2015)  ...          5.0
143559                         L.A. Slasher (2015)  ...          5.0
6201                              Lady Jane (1986)  ...          5.0
102217              Bill Hicks: Revelations (1993)  ...          5.0
102084                Justice League: Doom (2012)   ...          5.0
6192     Open Hearts (Elsker dig for evigt) (2002)  ...          5.0
145994                      Formula of Love (1984)  ...          5.0

[10 rows x 4 columns]

In [55]:
filmes_com_mais_de_50_votos = filmes.query("total_de_votos >= 50")
filmes.query("total_de_votos >= 50").sort_values('notas_medias', ascending=False).head(10)

                                                    titulo  ... notas_medias
filmeId                                                     ...
318                       Shawshank Redemption, The (1994)  ...     4.429022
858                                  Godfather, The (1972)  ...     4.289062
2959                                     Fight Club (1999)  ...     4.272936
1276                                 Cool Hand Luke (1967)  ...     4.271930
750      Dr. Strangelove or: How I Learned to Stop Worr...  ...     4.268041
904                                     Rear Window (1954)  ...     4.261905
1221                        Godfather: Part II, The (1974)  ...     4.259690
48516                                 Departed, The (2006)  ...     4.252336
1213                                     Goodfellas (1990)  ...     4.250000
912                                      Casablanca (1942)  ...     4.240000

[10 rows x 4 columns]

In [56]:
eu_assisti = [1 ,21 ,19 ,10 ,11 ,7 , 2]
filmes.loc[eu_assisti]

                                        titulo  ... notas_medias
filmeId                                         ...
1                             Toy Story (1995)  ...     3.920930
21                           Get Shorty (1995)  ...     3.494382
19       Ace Ventura: When Nature Calls (1995)  ...     2.727273
10                            GoldenEye (1995)  ...     3.496212
11              American President, The (1995)  ...     3.671429
7                               Sabrina (1995)  ...     3.185185
2                               Jumanji (1995)  ...     3.431818

[7 rows x 4 columns]

In [57]:
aventura_infantil_e_aventura = filmes_com_mais_de_50_votos.query("genero == 'Adventure|Children|Fantasy'")
aventura_infantil_e_aventura.drop(eu_assisti, errors='ignore').sort_values("notas_medias", ascending=False).head()

                                                    titulo  ... notas_medias
filmeId                                                     ...
4896     Harry Potter and the Sorcerer's Stone (a.k.a. ...  ...     3.761682
41566    Chronicles of Narnia: The Lion, the Witch and ...  ...     3.443548

[2 rows x 4 columns]

# Distancia Usuario - Dataset

In [0]:
def notas_do_usuario(usuario):
  notas_do_usuario = notas.query("usuarioId ==%d" % usuario)
  notas_do_usuario = notas_do_usuario[['filmeId', 'nota']].set_index('filmeId')
  return notas_do_usuario

In [59]:
notas_do_usuario(4)

         nota
filmeId
21        3.0
32        2.0
45        3.0
47        2.0
52        3.0
...       ...
4765      5.0
4881      3.0
4896      4.0
4902      4.0
4967      5.0

[216 rows x 1 columns]

In [0]:
import numpy as np

In [0]:
def distancia_de_vetores(a,b):
  return np.linalg.norm(a - b)

In [0]:

def notas_do_usuario(usuario):
  notas_do_usuario = notas.query("usuarioId==%d" % usuario)
  notas_do_usuario = notas_do_usuario[["filmeId", "nota"]].set_index("filmeId")
  return notas_do_usuario

In [0]:

usuario1 = notas_do_usuario(1)
usuario4 = notas_do_usuario(4)

In [71]:
usuario1.head()

         nota
filmeId
1         4.0
3         4.0
6         4.0
47        5.0
50        5.0

# distancia entre todos Usuarios

In [72]:
diferencas = usuario1.join(usuario4, lsuffix="_esquerda", rsuffix="_direita").dropna()
distancia_de_vetores(diferencas['nota_esquerda'], diferencas['nota_direita'])

11.135528725660043

In [0]:

def distancia_de_usuarios(usuario_id1, usuario_id2):
  notas1 = notas_do_usuario(usuario_id1)
  notas2 = notas_do_usuario(usuario_id2)
  diferencas = notas1.join(notas2, lsuffix="_esquerda", rsuffix="_direita").dropna()
  distancia =  distancia_de_vetores(diferencas['nota_esquerda'], diferencas['nota_direita'])
  return [usuario_id1, usuario_id2, distancia]

In [74]:
distancia_de_usuarios(1,4)

[1, 4, 11.135528725660043]

In [75]:
quantidade_de_usuarios = len(notas['usuarioId'].unique())
print("Temos %d usuarios" % quantidade_de_usuarios)

Temos 610 usuarios

In [76]:
def distancia_de_todos(voce_id):
  distancias = []
  for usuario_id in notas['usuarioId'].unique():
    informacoes = distancia_de_usuarios(voce_id, usuario_id)
    distancias.append(informacoes)
  return distancias

distancia_de_todos(1)[:5]

[[1, 1, 0.0],
 [1, 2, 1.4142135623730951],
 [1, 3, 8.200609733428363],
 [1, 4, 11.135528725660043],
 [1, 5, 3.7416573867739413]]

In [77]:

def distancia_de_todos(voce_id):
  todos_os_usuarios = notas['usuarioId'].unique()
  distancias = [distancia_de_usuarios(voce_id, usuario_id) for usuario_id in todos_os_usuarios]
  distancias = pd.DataFrame(distancias, columns = ["voce", "outra_pessoa", "distancia"])
  return distancias

distancia_de_todos(1).head()

   voce  outra_pessoa  distancia
0     1             1   0.000000
1     1             2   1.414214
2     1             3   8.200610
3     1             4  11.135529
4     1             5   3.741657

In [78]:
notas_do_usuario(1).join(notas_do_usuario(5), lsuffix="_1", rsuffix="5").dropna()

         nota_1  nota5
filmeId
1           4.0    4.0
50          5.0    4.0
110         4.0    4.0
296         3.0    5.0
316         3.0    2.0
349         4.0    3.0
367         4.0    4.0
457         5.0    4.0
527         5.0    5.0
590         4.0    5.0
592         4.0    3.0
596         5.0    5.0
608         5.0    3.0

In [79]:
notas_do_usuario(1).join(notas_do_usuario(2), lsuffix="_1", rsuffix="2").dropna()

         nota_1  nota2
filmeId
333         5.0    4.0
3578        5.0    4.0

In [80]:
notas_do_usuario(1).join(notas_do_usuario(3), lsuffix="_1", rsuffix="3").dropna()

         nota_1  nota3
filmeId
527         5.0    0.5
1275        5.0    3.5
1587        5.0    4.5
2018        5.0    0.5
2090        5.0    0.5
2105        4.0    2.0
3703        5.0    5.0

# Usuários sem filmes em comum são colocados bem distante um do outro

In [0]:

def distancia_de_usuarios(usuario_id1, usuario_id2, minimo = 5):
  notas1 = notas_do_usuario(usuario_id1)
  notas2 = notas_do_usuario(usuario_id2)
  diferencas = notas1.join(notas2, lsuffix="_esquerda", rsuffix="_direita").dropna()
  
  if(len(diferencas) < minimo):
    return [usuario_id1, usuario_id2, 100000]
  
  distancia =  distancia_de_vetores(diferencas['nota_esquerda'], diferencas['nota_direita'])
  return [usuario_id1, usuario_id2, distancia]

In [83]:
distancia_de_todos(1).head()

   voce  outra_pessoa      distancia
0     1             1       0.000000
1     1             2  100000.000000
2     1             3       8.200610
3     1             4      11.135529
4     1             5       3.741657

In [0]:
def mais_proximos_de(voce_id):
  distancias = distancia_de_todos(voce_id)
  distancias = distancias.sort_values("distancia")
  distancias = distancias.set_index("outra_pessoa").drop(voce_id)
  return distancias

In [85]:
mais_proximos_de(1).head()

              voce  distancia
outra_pessoa
77               1   0.000000
511              1   0.500000
366              1   0.707107
523              1   1.000000
49               1   1.000000

# Parâmetros para teste

In [0]:
def mais_proximos_de(voce_id, n = None):
  distancias = distancia_de_todos(voce_id, n = n)
  distancias = distancias.sort_values("distancia")
  distancias = distancias.set_index("outra_pessoa").drop(voce_id)
  return distancias

In [0]:
def distancia_de_todos(voce_id, n = None):
  todos_os_usuarios = notas['usuarioId'].unique()
  if n:
    todos_os_usuarios = todos_os_usuarios[:n]
  distancias = [distancia_de_usuarios(voce_id, usuario_id) for usuario_id in todos_os_usuarios]
  distancias = pd.DataFrame(distancias, columns = ["voce", "outra_pessoa", "distancia"])
  return distancias

In [88]:
mais_proximos_de(1, n = 50)

              voce      distancia
outra_pessoa
49               1       1.000000
9                1       1.000000
13               1       1.414214
25               1       1.414214
30               1       1.802776
35               1       2.236068
26               1       2.236068
46               1       3.316625
8                1       3.741657
44               1       3.741657
5                1       3.741657
37               1       4.000000
48               1       4.123106
11               1       4.242641
24               1       4.415880
29               1       4.555217
31               1       4.582576
17               1       4.609772
43               1       4.795832
14               1       5.000000
32               1       5.196152
22               1       5.244044
23               1       5.408327
38               1       5.567764
15               1       5.852350
33               1       5.916080
47               1       6.244998
34               1       6.363961
20               1       6.480741
36               1       6.519202
40               1       6.855655
7                1       7.106335
16               1       7.228416
50               1       7.331439
10               1       7.858117
3                1       8.200610
18               1       8.426150
6                1       8.602325
21               1       9.096703
27               1       9.219544
41               1      10.198039
45               1      10.653638
39               1      11.090537
4                1      11.135529
42               1      12.000000
28               1      14.882876
19               1      17.606817
2                1  100000.000000
12               1  100000.000000

In [0]:
def distancia_de_usuarios(usuario_id1, usuario_id2, minimo = 5):
  notas1 = notas_do_usuario(usuario_id1)
  notas2 = notas_do_usuario(usuario_id2)
  diferencas = notas1.join(notas2, lsuffix="_esquerda", rsuffix="_direita").dropna()
  
  if(len(diferencas) < minimo):
    return None
  
  distancia =  distancia_de_vetores(diferencas['nota_esquerda'], diferencas['nota_direita'])
  return [usuario_id1, usuario_id2, distancia]

In [0]:

def distancia_de_todos(voce_id, numero_de_usuarios_a_analisar = None):
  todos_os_usuarios = notas['usuarioId'].unique()
  if numero_de_usuarios_a_analisar:
    todos_os_usuarios = todos_os_usuarios[:numero_de_usuarios_a_analisar]
  distancias = [distancia_de_usuarios(voce_id, usuario_id) for usuario_id in todos_os_usuarios]
  distancias = list(filter(None, distancias))
  distancias = pd.DataFrame(distancias, columns = ["voce", "outra_pessoa", "distancia"])
  return distancias

In [0]:

def mais_proximos_de(voce_id, numero_de_usuarios_a_analisar = None):
  distancias = distancia_de_todos(voce_id, numero_de_usuarios_a_analisar = numero_de_usuarios_a_analisar)
  distancias = distancias.sort_values("distancia")
  distancias = distancias.set_index("outra_pessoa").drop(voce_id)
  return distancias

In [92]:
mais_proximos_de(1, numero_de_usuarios_a_analisar = 50)

              voce  distancia
outra_pessoa
49               1   1.000000
9                1   1.000000
25               1   1.414214
13               1   1.414214
30               1   1.802776
35               1   2.236068
26               1   2.236068
46               1   3.316625
8                1   3.741657
5                1   3.741657
44               1   3.741657
37               1   4.000000
48               1   4.123106
11               1   4.242641
24               1   4.415880
29               1   4.555217
31               1   4.582576
17               1   4.609772
43               1   4.795832
14               1   5.000000
32               1   5.196152
22               1   5.244044
23               1   5.408327
38               1   5.567764
15               1   5.852350
33               1   5.916080
47               1   6.244998
34               1   6.363961
20               1   6.480741
36               1   6.519202
40               1   6.855655
7                1   7.106335
16               1   7.228416
50               1   7.331439
10               1   7.858117
3                1   8.200610
18               1   8.426150
6                1   8.602325
21               1   9.096703
27               1   9.219544
41               1  10.198039
45               1  10.653638
39               1  11.090537
4                1  11.135529
42               1  12.000000
28               1  14.882876
19               1  17.606817

In [0]:
def sugere_para(voce, numero_de_usuarios_a_analisar = None):
  notas_de_voce = notas_do_usuario(voce)
  filmes_que_voce_ja_viu = notas_de_voce.index

  similares = mais_proximos_de(voce, numero_de_usuarios_a_analisar = numero_de_usuarios_a_analisar)
  similar = similares.iloc[0].name
  notas_do_similar = notas_do_usuario(similar)
  notas_do_similar = notas_do_similar.drop(filmes_que_voce_ja_viu, errors='ignore')
  recomendacoes = notas_do_similar.sort_values("nota", ascending=False)
  return recomendacoes.join(filmes)

In [94]:

sugere_para(1, numero_de_usuarios_a_analisar=50).head()

         nota                            titulo  ... total_de_votos  notas_medias
filmeId                                          ...
1200      4.5                     Aliens (1986)  ...          126.0      3.964286
4022      4.5                  Cast Away (2000)  ...          100.0      3.700000
47099     4.5  Pursuit of Happyness, The (2006)  ...           46.0      3.793478
79132     4.5                  Inception (2010)  ...          143.0      4.066434
109487    4.5               Interstellar (2014)  ...           73.0      3.993151

[5 rows x 5 columns]

In [95]:
sugere_para(1).head()

         nota  ... notas_medias
filmeId        ...
8636      5.0  ...     3.803797
58559     5.0  ...     4.238255
33794     5.0  ...     3.862069
4993      5.0  ...     4.106061
5349      5.0  ...     3.540984

[5 rows x 5 columns]

# Sugerindo baseado em vários usuários

In [0]:
def mais_proximos_de(voce_id, n_mais_proximos=10, numero_de_usuarios_a_analisar = None):
  distancias = distancia_de_todos(voce_id, numero_de_usuarios_a_analisar = numero_de_usuarios_a_analisar)
  distancias = distancias.sort_values("distancia")
  distancias = distancias.set_index("outra_pessoa").drop(voce_id)
  return distancias.head(n_mais_proximos)

In [97]:

mais_proximos_de(1, n_mais_proximos = 2, numero_de_usuarios_a_analisar=300)

              voce  distancia
outra_pessoa
77               1        0.0
258              1        1.0

In [0]:
def sugere_para(voce, n_mais_proximos = 10, numero_de_usuarios_a_analisar = None):
  notas_de_voce = notas_do_usuario(voce)
  filmes_que_voce_ja_viu = notas_de_voce.index

  similares = mais_proximos_de(voce, n_mais_proximos = n_mais_proximos, numero_de_usuarios_a_analisar = numero_de_usuarios_a_analisar)
  usuarios_similares = similares.index
  notas_dos_similares = notas.set_index("usuarioId").loc[usuarios_similares]
  recomendacoes = notas_dos_similares.groupby("filmeId").mean()[["nota"]]
  recomendacoes = recomendacoes.sort_values("nota", ascending=False)
  return recomendacoes.join(filmes)

In [99]:
sugere_para(1, numero_de_usuarios_a_analisar = 50).head()

         nota  ... notas_medias
filmeId        ...
187593    5.0  ...     3.875000
68157     5.0  ...     4.136364
475       5.0  ...     4.300000
33794     5.0  ...     3.862069
7153      5.0  ...     4.118919

[5 rows x 5 columns]

In [100]:
sugere_para(1, numero_de_usuarios_a_analisar = 300).head()

         nota  ... notas_medias
filmeId        ...
187593    5.0  ...     3.875000
802       5.0  ...     3.336957
534       5.0  ...     3.607143
1172      5.0  ...     4.161765
515       5.0  ...     3.604167

[5 rows x 5 columns]

In [101]:
sugere_para(1).head()

         nota  ... notas_medias
filmeId        ...
1704      5.0  ...     4.078014
57504     5.0  ...     4.100000
38304     5.0  ...     4.625000
48394     5.0  ...     3.814815
2300      5.0  ...     3.969697

[5 rows x 5 columns]

In [0]:
def knn(voce_id, k_mais_proximos=10, numero_de_usuarios_a_analisar = None):
  distancias = distancia_de_todos(voce_id, numero_de_usuarios_a_analisar = numero_de_usuarios_a_analisar)
  distancias = distancias.sort_values("distancia")
  distancias = distancias.set_index("outra_pessoa").drop(voce_id)
  return distancias.head(k_mais_proximos)

In [0]:
def sugere_para(voce, k_mais_proximos = 10, numero_de_usuarios_a_analisar = None):
  notas_de_voce = notas_do_usuario(voce)
  filmes_que_voce_ja_viu = notas_de_voce.index

  similares = knn(voce, k_mais_proximos = k_mais_proximos, numero_de_usuarios_a_analisar = numero_de_usuarios_a_analisar)
  usuarios_similares = similares.index
  notas_dos_similares = notas.set_index("usuarioId").loc[usuarios_similares]
  recomendacoes = notas_dos_similares.groupby("filmeId").mean()[["nota"]]
  recomendacoes = recomendacoes.sort_values("nota", ascending=False)
  return recomendacoes.join(filmes)

# Testar um usuário novo

In [104]:
filmes.loc[[122904, 1246, 2529, 2329 , 2324 , 1 , 7 , 2 ,1196, 260]]

                                                    titulo  ... notas_medias
filmeId                                                     ...
122904                                     Deadpool (2016)  ...     3.833333
1246                             Dead Poets Society (1989)  ...     3.959302
2529                             Planet of the Apes (1968)  ...     3.803571
2329                             American History X (1998)  ...     4.217054
2324            Life Is Beautiful (La Vita è bella) (1997)  ...     4.147727
1                                         Toy Story (1995)  ...     3.920930
7                                           Sabrina (1995)  ...     3.185185
2                                           Jumanji (1995)  ...     3.431818
1196     Star Wars: Episode V - The Empire Strikes Back...  ...     4.215640
260              Star Wars: Episode IV - A New Hope (1977)  ...     4.231076

[10 rows x 4 columns]

In [0]:
def novo_usuario(dados):
  novo_usuario = notas['usuarioId'].max()+1
  notas_do_usuario_novo = pd.DataFrame(dados, columns=["filmeId", "nota"])
  notas_do_usuario_novo['usuarioId'] = novo_usuario
  return pd.concat([notas, notas_do_usuario_novo])

In [106]:
notas = novo_usuario([[122904,2],[1246,5],[2529,2],[2329,5],[2324,5],[1,2],[7,0.5],[2,2],[1196,1],[260,1]])
notas.tail()

   usuarioId  filmeId  nota  momento
5        611        1   2.0      NaN
6        611        7   0.5      NaN
7        611        2   2.0      NaN
8        611     1196   1.0      NaN
9        611      260   1.0      NaN

In [116]:
notas.tail()

       filmeId  usuarioId  nota       momento
41365   122904        586   4.0  1.529899e+09
41366   122904        596   4.0  1.535709e+09
41367   122904        599   3.5  1.519458e+09
41368   122904        610   3.0  1.493846e+09
41369   122904        611   2.0           NaN

In [121]:
sugere_para(41368).head()

Empty DataFrame
Columns: [nota_media_dos_usuarios, nota_aparicoes_nos_usuarios, titulo, genero, total_de_votos, notas_medias]
Index: []

# Utilizar somente as notas de filmes com mais de 50 votos

In [122]:
notas = notas.set_index("filmeId").loc[filmes_com_mais_de_50_votos.index]
notas.head()

         usuarioId  nota       momento
filmeId
1                1   4.0  9.649827e+08
1                5   4.0  8.474350e+08
1                7   4.5  1.106636e+09
1               15   2.5  1.510578e+09
1               17   4.5  1.305696e+09

In [123]:
notas = notas.reset_index()
notas.head()

   filmeId  usuarioId  nota       momento
0        1          1   4.0  9.649827e+08
1        1          5   4.0  8.474350e+08
2        1          7   4.5  1.106636e+09
3        1         15   2.5  1.510578e+09
4        1         17   4.5  1.305696e+09

In [124]:
sugere_para(41368).head()

Empty DataFrame
Columns: [nota_media_dos_usuarios, nota_aparicoes_nos_usuarios, titulo, genero, total_de_votos, notas_medias]
Index: []

In [0]:
def sugere_para(voce, k_mais_proximos = 10, numero_de_usuarios_a_analisar = None):
  notas_de_voce = notas_do_usuario(voce)
  filmes_que_voce_ja_viu = notas_de_voce.index

  similares = knn(voce, k_mais_proximos = k_mais_proximos, numero_de_usuarios_a_analisar = numero_de_usuarios_a_analisar)
  usuarios_similares = similares.index
  notas_dos_similares = notas.set_index("usuarioId").loc[usuarios_similares]
  recomendacoes = notas_dos_similares.groupby("filmeId").mean()[["nota"]]
  aparicoes = notas_dos_similares.groupby("filmeId").count()[['nota']]
  
  filtro_minimo = k_mais_proximos / 2
  recomendacoes = recomendacoes.join(aparicoes, lsuffix="_media_dos_usuarios", rsuffix="_aparicoes_nos_usuarios")
  recomendacoes = recomendacoes.query("nota_aparicoes_nos_usuarios >= %.2f" % filtro_minimo)  
  recomendacoes = recomendacoes.sort_values("nota_media_dos_usuarios", ascending=False)
  recomendacoes = recomendacoes.drop(filmes_que_voce_ja_viu,errors='ignore')
  return recomendacoes.join(filmes)

In [0]:
def knn(voce_id, k_mais_proximos=10, numero_de_usuarios_a_analisar = None):
  distancias = distancia_de_todos(voce_id, numero_de_usuarios_a_analisar = numero_de_usuarios_a_analisar)
  distancias = distancias.sort_values("distancia")
  distancias = distancias.set_index("outra_pessoa").drop(voce_id, errors='ignore')
  return distancias.head(k_mais_proximos)

In [0]:
sugere_para(1, numero_de_usuarios_a_analisar=500)

In [0]:
sugere_para(41368).head(10)

In [0]:

sugere_para(41368, k_mais_proximos=20).head(10)